{% extends 'partials/base.html'%}
{% block title %} Eliminar Artículo {% endblock %}
{% load crispy_forms_tags %}
    
{% block content %}
<div class="container">
    <div class="row  my-4">
        <div class="col-md-8 offset-md-2">
            <div class="border">
                <h3>Eliminando Artículo</h3>
                <hr>
                <div class="alert alert-danger">
                    <h4> ¿Está seguro de que desea eleiminar el artículo? </h4>
                </div>
                <form method="POST">
                    {% csrf_token %}
                    {{ form | crispy}}
                    <a class="btn btn-secondary" href="{% url 'dashboard-producto' %}">Cancelar</a>
                    <input class="btn btn-danger" type="submit" value="Confirmar">
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}